body {
    width:900px;
    height: 294px;
    margin-top:40px;
    border: 1px solid orange;
    padding-top: 55px;
    margin:40px auto 40px auto;
    font-family: 'Varela Round',Helvetica,sans-serif;

}

p {
    font-size: 30px;
    display: inline;
    position: relative;
    top: 10px;
    left: 0px;
    margin: 0px auto 0px auto;
}

label {
    font-size: 20px;
    margin-left: 20px;
}

#shInput {
    font-size: 35px;
    width: 400px;
    height: 68px;
    position: relative;
    left: 480px; top:3px;
    margin-right:200px;
    background-color: rgb(91,155,213);
    text-align: center;
    color:black;
}

#coOutput {
    font-size:20px;
    width: 402px;
    height: 72px;
    margin-left:200px;
    background-color: rgb(91, 155, 213);
    text-align: center;
    margin-top:auto;
    position: absolute;
    top:99px;
    left:18px;

}

#calculate {
    margin-left:188px;
    margin-top: 114px;
    width: 400px;
    height: 100px;
    font-size: 40px;
    text-align: center;
    border-radius: 3px;
    box-shadow: 5px 2px blue;
    background-color: rgb(91, 155, 213);
    position:relative;
    bottom:68px; right:156px;
}

#coinList {
    width: 200px;
    position: absolute;
    right:342px; top:221px;
}

#coinListSelect {
    margin-top: 20px;
    border-radius: 6px;
    box-shadow: 1px 1px blue;
     padding-top:10px;
    padding-bottom:10px;
    font-size:1em;
}

